.box
  .box__title
    前菜の部
  .box__content
    .box__content__left
      %tb 三品盛り合わせ
      %tb くらげ冷菜
      %tb 蒸し鶏
      %tb アワビ冷菜
      %tb 蒸し鶏ごまソースかけ
      %tb 焼き豚
      %tb ピータン
      %tb 腸詰
      %tb ザーサイ

    .box__content__right
      %tb ¥2,100
      %tb ¥2,000
      %tb ¥1,050
      %tb ¥3,100
      %tb ¥1,250
      %tb ¥1,200
      %tb ¥600
      %tb ¥600
      %tb ¥300

