.box
  .box__title
    グループご家族様用セットコース料理
  .course
    .course__left
      Aコース
      .course__left__peopleRow
        2〜3名様用・・・¥6,300
      .course__left__peopleHigh
        4〜5名様用・・・¥10,500
      %tb 芝海老のチリソース
      %tb 牛肉細切りとピーマン炒め
      %tb 酢豚
      %tb 鶏肉とカシューナッツ炒め
      %tb 五目焼きそばまたは炒飯
      %tb （どちらかお選びください）
      %tb シャーベット
    .course__right
      Bコース
      .course__right__peopleRow
        2〜3名様用・・・¥6,300
      .course__right__peopleHigh
        4〜5名様用・・・¥10,500
      %tb 芝海老のチリソース
      %tb 五目うま煮
      %tb 牛細切りニンニクの芽炒め
      %tb 鶏肉とぎんなん炒め
      %tb 五目焼きそばまたは炒飯
      %tb （どちらかお選びください）
      %tb シャーベット