.box
  .box__title
    お飲み物・デザート
  .box__content
    .box__content__left
      %tb 日本酒
      %tb 瓶ビール(中)
      %tb 生ビール(中)
      %tb 生ビール(小)
      %tb 紹興酒(中国酒) ボトル
      %tb 紹興酒(中国酒) ポット
      %tb サントリーリザーブ ボトル
      %tb サントリーリザーブ シングル
      %tb サントリーリザーブ ダブル
      %tb レモンサワー
      %tb カシスサワー
      %tb 巨峰サワー
      %tb ライチサワー
      %tb 青りんごサワー
      %tb ライムサワー
      %tb ウーロンハイ
      %tb ハイボール
      %tb 梅酒
      %tb 赤ワイン ボトル
      %tb 赤ワイン グラス
      %tb JINRO ボトル
      %tb JINRO グラス
      %tb 九右衛門 ボトル
      %tb 九右衛門 グラス
      %tb オレンジジュース
      %tb ウーロン茶
      %tb コーラ
      %tb 杏仁フルーツ


    .box__content__right
      %tb ¥500
      %tb ¥550
      %tb ¥520
      %tb ¥380
      %tb ¥2,520
      %tb ¥990
      %tb ¥6,000
      %tb ¥500
      %tb ¥700
      %tb ¥400
      %tb ¥400
      %tb ¥400
      %tb ¥400
      %tb ¥400
      %tb ¥400
      %tb ¥400
      %tb ¥400
      %tb ¥400
      %tb ¥1,980
      %tb ¥400
      %tb ¥1,800
      %tb ¥420
      %tb ¥3,150
      %tb ¥500
      %tb ¥300
      %tb ¥300
      %tb ¥300
      %tb ¥200
