.box
  .box__title
    肉料理の部
  .box__content
    .box__content__left
      %tb 牛肉細切りとにんにくの芽炒め
      %tb 牛肉細切りとピーマン炒め
      %tb 酢豚
      %tb 豚バラ肉とにんにくの芽炒め
      %tb 豚バラ肉の辛子芽炒め
      %tb 鶏肉とピーマン炒め
      %tb 鶏肉とカシューナッツ炒め
      %tb 鶏肉とぎんなん炒め
      %tb 鳥の唐揚げ

    .box__content__right
      %tb ¥1,470
      %tb ¥1,470
      %tb ¥1,250
      %tb ¥1,050
      %tb ¥1,050
      %tb ¥1,250
      %tb ¥1,250
      %tb ¥1,250
      %tb ¥1,350

