.box
  .box__title
    麺の部
  .box__content
    .box__content__left
      %tb ラーメン
      %tb ワンタン
      %tb タンメン
      %tb ワンタンメン
      %tb もやしそば
      %tb 五目そば
      %tb 牛肉細切りピーマン炒めそば
      %tb チャーシューメン
      %tb 海老そば
      %tb マーボーラーメン
      %tb 四川風辛口そば
      %tb 五目焼そば
      %tb ソース焼そば
      %tb 揚げ硬焼きそば

    .box__content__right
      %tb ¥550
      %tb ¥600
      %tb ¥680
      %tb ¥680
      %tb ¥680
      %tb ¥840
      %tb ¥940
      %tb ¥840
      %tb ¥840
      %tb ¥840
      %tb ¥840
      %tb ¥940
      %tb ¥700
      %tb ¥940
