.box
  .box__title
    当店のおすすめ
  .box__content
    .box__content__left
      %tb
        エビのチリソースあんかけチャーハン
        -# %span
        -#   %img{:alt => "サムネ", :src => "https://wired.jp/wp-content/uploads/2018/01/GettyImages-522585140.jpg"}/
      %tb
        牛肉細切りピーマンあんかけチャーハン
        -# %span
        -#   %img{:alt => "サムネ", :src => "https://wired.jp/wp-content/uploads/2018/01/GettyImages-522585140.jpg"}/
      %tb
        海鮮あんかけチャーハン
        -# %span
        -#   %img{:alt => "サムネ", :src => "https://wired.jp/wp-content/uploads/2018/01/GettyImages-522585140.jpg"}/
      %tb 海鮮焼そば
      %tb 海鮮揚げ硬焼そば
      %tb 牛肉細切りピーマン硬焼そば

    .box__content__right
      %tb ¥950
      %tb ¥950
      %tb ¥950
      %tb ¥950
      %tb ¥950
      %tb ¥950
