.box
  .box__title
    当店のおすすめ
  .box__content
    .box__content__left
      %tb エビのチリソースあんかけチャーハン
      %tb 牛肉細切りピーマンあんかけチャーハン
      %tb 海鮮あんかけチャーハン
      %tb 海鮮焼そば
      %tb 海鮮揚げ硬焼そば
      %tb 牛肉細切りピーマン硬焼そば

    .box__content__right
      %tb ¥950
      %tb ¥950
      %tb ¥950
      %tb ¥950
      %tb ¥950
      %tb ¥950
