.box
  .box__title
    飯の部
  .box__content
    .box__content__left
      %tb チャーハン
      %tb カレーチャーハン
      %tb 五目チャーハン
      %tb 海老チャーハン
      %tb カニチャーハン
      %tb 中華丼
      %tb 天津丼
      %tb マーボー丼
      %tb ライス

    .box__content__right
      %tb ¥680
      %tb ¥730
      %tb ¥890
      %tb ¥890
      %tb ¥1,050
      %tb ¥840
      %tb ¥840
      %tb ¥730
      %tb ¥230
