.box
  .box__title
    魚介・豆腐・玉子料理の部
  .box__content
    .box__content__left
      %tb 海老のチリソース煮
      %tb アワビの醤油煮込み
      %tb イカの辛子炒め
      %tb かに玉
      %tb 五目豆腐
      %tb 挽肉と豆腐の辛子炒め煮
      %tb 貝柱と青梗菜のクリーム煮

    .box__content__right
      %tb ¥1,470
      %tb ¥2,600
      %tb ¥1,050
      %tb ¥1,050
      %tb ¥1,260
      %tb ¥900
      %tb ¥1,250 

