.box
  .box__title
    湯・点心の部
  .box__content
    .box__content__left
      %tb とうもろこしスープ
      %tb 玉子スープ
      %tb スープ餃子
      %tb カニ入りフカヒレスープ
      %tb 焼き餃子
      %tb 春巻き
      %tb シューマイ

    .box__content__right
      %tb ¥520
      %tb ¥520
      %tb ¥630
      %tb ¥1600
      %tb ¥420
      %tb ¥520
      %tb ¥520

