.box
  .box__title
    野菜料理の部
  .box__content
    .box__content__left
      %tb 五目うま煮
      %tb 挽肉と茄子の辛子炒め煮
      %tb 豚肉とキャベツの味噌炒め
      %tb レバーニラ炒め
      %tb 野菜炒め
      %tb 豚バラ肉とニラ炒め
      %tb 青梗菜炒め

    .box__content__right
      %tb ¥1,370
      %tb ¥1,050
      %tb ¥1,050
      %tb ¥730
      %tb ¥730
      %tb ¥840
      %tb ¥730

