.wrapper
  .wrapper__photo
    .wrapper__photo__image
    .wrapper__photo__image
    .wrapper__photo__image
    .wrapper__photo__image
  .wrapper__box
    .wrapper__box__left
      .wrapper__box__left__titleSpace
        .wrapper__box__left__titleSpace__text
          お知らせ
      .wrapper__box__left__content
        = render "post"
    .wrapper__box__right
      .wrapper__box__right__titleSpace
        .wrapper__box__right__titleSpace__text
          お知らせ
= javascript_include_tag 'home.js'