.footer{
  height: 200px;
  padding: 30px 0;
  background-color: #272727;
  font-family: serif;
  &__contents{
    height: 180px;
    margin: 0 auto;
    text-align: center;
    span{
      font-weight: bold;
      font-size: 22px;
      color: white;
      text-decoration: none;
    }
    p{
      margin-top: 10px;
      font-weight: bold;
      color: white;
      font-size: 40px;
      text-decoration: none;
    }
    ul{
      list-style: none;
      padding: 0 10px;
    }
    li{
      height: 32px;
      font-size: 15px;
      margin: 1px;
    }
    a{
      line-height: 32px;
      height: 15px;
      padding-bottom: 5px;
      font-weight: bold;
      cursor: pointer;
      color: white;
      text-decoration: none;
      -webkit-text-decoration-skip: none;
      position: relative;
    }
    a:hover{
      color: #cd5c5c;
    }
    a::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background:  #cd5c5c;
      transition: all 0.3s ease 0s;
    }
    a:hover::after {
      width: 100%;
    }
    &__right{
      display: flex;
      flex-direction: column;
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        }
        ul.right{
          display: inline-flex;
          margin: 70px auto;
        }
        ul.right li{
          margin: 10px;
        }
      }
    }
  &__logo{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  &__copyright{
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
}
