body{
  background-size: contain;
  background-color: #fffff4;
  height: 100%;
}
.wrapper{
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  &__photo{
    height: 500px;
    position: relative;
    &__image{
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0;
      transition: opacity 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    &__image.is-visible {
      opacity: 1;
    }
    &__image:nth-child(1) {
      background-image: image-url('original.jpg');
    }
    &__image:nth-child(2) {
      background-image: image-url('0015.jpg');
    }
    &__image:nth-child(3) {
      background-image: image-url('8628ccb184810dbd11949d8adbbc01e5.jpg');
    }
    &__image:nth-child(4) {
      background-image: url('img_22aebd5b4d7739b1e1ff878bf0f1f5b2104156.jpg');
    }
  }
  &__box{
    font-family: serif;
    display: flex;
    &__left{
    padding: 10px 10px 30px 10px;
    height: 60vh;
    width: 50%;
    overflow: scroll;
    &__titleSpace{
      margin-bottom:10px;
      &__text{
        margin: 0 auto;
        text-align: center;
        font-size: 17px;
        margin-bottom: 15px;
        width: 100px;
        font-weight: bold;
        border-bottom: solid 2px black;
      }
    }
    }
    &__right{
      padding: 10px 20px 20px 20px;
      width: 50%;

      &__titleSpace{
        &__text{
          margin: 0 auto;
          text-align: center;
          margin-bottom: 15px;
          font-size: 17px;
          width: 100px;
          font-weight: bold;
          border-bottom: solid 2px black;
        }
      }
      &__content{
        margin: auto;
        padding-left: 20px;
      }
    }
  }
  .post{
    width: 95%;
    padding-left: 20px;
    border-bottom: dotted 1px black;
    border-top: dotted 1px black;
    &__left{
      &__date{
        margin-top: 13px;
        font-size: 15px;
      }
      &__title{
        font-size: 16px;
        font-weight: bold;
        word-wrap: break-word;
        overflow: auto;
      }
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
  .post + .post{
    border-top:none;
  }
}
