nav.pagination{
  padding-left: 5px;
  margin-top: 10px;
  display: block;
  span{
    padding-right: 7px;
  }
  a{
    font-size: 16px;
    text-decoration: none;
    color: black;
  }
  a:hover{
    color:  #cd5c5c;
  }
}
   