.box{
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 150px;
  height: 100vh;
  overflow: scroll;
  box-sizing:border-box;
  &__title{
    font-size: 25px;
    padding-left: 15px;
    margin-top: 10px;
    padding-bottom: 3px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
  }
  &__content{
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
    &__left{
      display: grid;
    }
    &__right{
      display: grid;
    }
    tb{
      font-size: 1.5vw;
      margin-bottom: 15px;
      cursor: zoom-in;
    }
    .box__content__right tb{
      cursor: default;
    }
    tb:hover {
      position: relative;
      text-decoration: none;
     } 
    tb span {
       display: none;
        position: absolute;
        top: 1em;
        left: 0; 
      }
    tb:hover span {
        border: none;  
        display: block; 
        margin-top: -20px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: -250px ;
        width: 300px;
    }
    img{
      width: 230px;
      height: auto;
      border: none;
      border-radius: 5px;
    }
  }
  .course{
    width: 100%;
    display: flex;
    &__left{
      width: 50%;
      font-size: 23px;
      height: 400px;
      text-align: center;
      &__peopleRow{
        font-size: 18px;
        margin-top: 15px;
      }
      &__peopleHigh{
        font-size: 18px;
        margin-bottom: 15px;
      }
      tb{
        font-size: 15px;
        display: block;
        margin-top: 5px;
      }
    }
    &__right{
      width: 50%;
      font-size: 23px;
      height: 400px;
      text-align: center;
      &__peopleRow{
        font-size: 18px;
        margin-top: 15px;
      }
      &__peopleHigh{
        font-size: 18px;
        margin-bottom: 15px;
      }
      tb{
        font-size: 15px;
        display: block;
        margin-top: 5px;
      }
    }
  }
}