.message{
  width: 100vw;
  height: 100vh;
  padding:20px 100px 100px 100px;
  background-color: #fffff4;
  box-sizing: border-box;
  font-family: serif;
    h2{
      font-size: 20px;
      width: 80%;
      height: 40px;
      padding-left: 25px;
      line-height: 40px;
      font-weight: bold;
      margin: auto;
      color: black;
      background-color: #efefef;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    strong{
      margin-left: 10%;
      margin-bottom: 10px;
      color: red;
    }
    &__title{
      margin-left: 12%;
    }
    &__name{
      width: 75%;
      display: block;
      margin: auto;
      height: 40px;
      padding-left: 10px;
      margin-bottom: 10px;
    }
    &__mail{
      width: 75%;
      margin: auto;
      display: block;
      padding-left: 10px;
      height: 40px;
      margin-bottom: 10px;
    }
    &__text{
      width: 75%;
      margin: auto;
      display: block;
      padding-left: 10px;
      height: 150px;
      margin-bottom: 10px;
    }
    &__btn{
      width: 100px;
      height: 50px;
      margin: auto;
      cursor: pointer;
      display: block;
      border-bottom: solid 3px gray;
      border-radius: 3px;
      box-shadow: 0px 3px 5px lightgray;
      &__left{
        width: 100px;
        height: 50px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        cursor: pointer;
        display: block;
        border-bottom: solid 3px gray;
        border-radius: 3px;
        box-shadow: 0px 3px 5px lightgray;
      }
      &__right{
        width: 60px;
        height: 32px;
        margin: auto;
        cursor: pointer;
        display: block;
        border-bottom: solid 3px gray;
        border-radius: 3px;
        box-shadow: 0px 3px 5px lightgray;
      }
    }
   &__content{
      width: 75%;
      margin: auto;
      display: block;
      padding-left: 10px;
    }
   &__item{
     margin-top: 20px;
     margin-bottom: 10px;
     font-weight: bold;
     border-bottom: dotted 1px black;
    }
  &__thanks{
    margin-left: 10%;
    }
  }