.form{
  width: 100vw;
  height: 100vh;
  background-color: #fffff4;
  &__title{
    width: 80%;
    display: block;
    margin: auto;
    height: 50px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &__text{
    width: 80%;
    margin: auto;
    display: block;
    padding-left: 10px;
    height: 150px;
    margin-bottom: 10px;
  }
  &__btn{
    width: 100px;
    height: 50px;
    margin: auto;
    cursor: pointer;
    display: block;
    border-bottom: solid 3px gray;
    border-radius: 3px;
    box-shadow: 0px 3px 5px lightgray;
  }
}
  
.show{
  width: 100vw;
  height: 100vh;
  min-width: 850px;
  padding:40px 200px 200px 200px;
  background-color: #fffff4;
  box-sizing: border-box;
  font-family: serif;
  &__postTitle{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: dotted 1px black;
  }
  a{
    font-size: 18px;
    border: solid 1px;
    color: white;
    font-weight: 100;
    padding: 5px;
    background-color: lightseagreen;
    text-decoration: none;
    border-radius: 10px;
  }
  a:hover{
    color: cyan;
  }
  &__postDate{
    margin: 10px;
    font-size: 15px;
    text-align: end;

  }
  &__postText{
    margin: 5px;
    font-size: 20px;
  }
}
